<section class="text-center invoice-header">
  <h1>INVOICE</h1>
</section>

<section class="invoice-generator-biller">
  <div class="row">
    <div class="col-sm-4">
      <h3>Biller</h3>
      <p contenteditable="true">asda</p>
    </div>
    <div class="col-sm-4">
      <h3>Biller</h3>
      <p></p>
    </div>
    <div class="col-sm-4">
        <h3>Invoice No: <span contenteditable="true">01</span> </h3>
        <h4>Date : {{currentDate | date:'yyyy-MM-dd'}}</h4>
      </div>
  </div>
</section>
